<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h2 style="font-family: 'Felix Titling'">Magic Cards</h2>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for Cards" aria-label="Search" ng-model="searchCardName"
                   ng-keyup="autocomplete()" list="cardNames">
            <span ng-if="searchCardName">
          <datalist id="cardNames" class="scrollable" style="max-height: 100px !important;">
            <option ng-repeat="name in cardNames">{{name}}</option>
          </datalist>
        </span>
            <button class="btn btn-success my-2 my-sm-0" type="submit" ng-click="searchCards()" >Search</button>
        </div>
    </div>
    <div ng-hide="cards.length === 0" class="row">
        <div class="row" ng-repeat="card in cards track by $index">
            <div class="col-sm m-2">
                <label for="card{{$index}}">
                    <img src="{{card.image_uris.png}}" width="250" height="350" style="cursor: pointer">
                </label>
                <br>
                <span class="cardName">{{card.name}}</span>
                <br>
                {{card.set_name}}
                <br>
                <button class="btn btn-success" ng-click="addToDeck(card)">Add to Deck</button>
                <a class="btn btn-primary ml-2" id="card{{$index}}" href="#!/CardDetail" ng-click="setCard(card)">View Card</a>
            </div>
        </div>
    </div>
    <div ng-show="cards.length === 0">
        No cards found with name "{{searchCardName}}"! Please search again.
    </div>
</div>
